.image-details{
    width: 100%;
    transition: box-shadow .3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5rem 5rem 0 0;
}

.image-details:hover {
    box-shadow: rgba(81, 89, 83, 0.25) 0px 540px 1000px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}

.take_photo_icon{
    color: #9f1515;
    float: right;
    font-size: 9vw;
}

.main_info_detail_recette{
    text-align: center;
    color: #0161b5;

}

.title_detail_recette{
    color: white;
}

.liste_detail_recette{
background: #077354;
color: white;

}
.button_invitation{
    color: #077354;
background: white;
}