@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
 *, *:before, *:after {
	 position: relative;
	 box-sizing: border-box;
}


 svg.one {
	 cursor: pointer;
}
 svg.one .heart {
	 fill: transparent;
	 stroke: #a00;
	 stroke-width: 6;
	 transition: all 0.6s ease-out;
}
 svg.one .heartEX {
	 fill: none;
	 stroke: transparent;
	 transform-box: border-box;
	 transform-origin: 50% 50%;
	 stroke-width: 12px;
	 transform: scale(0.5);
	 transition: none;
}
 svg.one.on .heartEX {
	 transform: scale(2);
	 opacity: 0;
	 stroke: #c00;
	 transform-box: border-box;
	 transform-origin: 50% 50%;
	 transition: transform, stroke, opacity;
	 transition-duration: 0.6s, 0.01s, 0.4s;
	 transition-delay: 0s, 0s, 0.2s;
}
 svg.one.on .heart {
	 fill: #a00;
}
 svg {
	 overflow: visible;
	 width: 50%;
}
 .inhalt {
	 xborder: 1px dotted #fff;
	 /* padding: 30px; */
	 width: 100%;
float: right;
}
 .inhalt svg {
	 margin: 0px 10px;
}
 