.recipe_results{
    width: 85%;
    float: right;
    margin: 10%;
    list-style-type: none;
}
.recette_filtrer {
width: 10%

}

.liste_recette_filter_input{
    font-size: 6vw;
    /* position: fixed;
    top: 12%;
    z-index: 200; */
    background: #efeff4;
}

.liste_recette_checkbox{
    float: right;
    color: #a00;
    margin: 5%;
    list-style-type: none; /* Remove bullets */
    font-size: 50%;
}