.parent-recipe-article {
    display: grid;
    grid-template-columns: 0.25fr repeat(2, 1fr) 0.25fr repeat(3, 1fr) 0.25fr;
    grid-template-rows: 0.25fr repeat(2, 1fr) 0.25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor: pointer;
    margin: 5%;
    width: 100%;
    transition: box-shadow .3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
    border: 0;
    border-radius: 500px 50px 50px 500px;
    color:white;
    font-size:3.5vw;
    text-align: center;
  }
  
  .parent-recipe-article.paire0 {
    background-color:#077354;
  }
  .parent-recipe-article.paire1 {
    background-color:#2562BE;
  }
  .parent-recipe-article.paire2 {
    background-color:#A94626;
  }
   
  
  .parent-recipe-article:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .image-recipe-article { grid-area: 2 / 2 / 4 / 4; }
  .main-recipe-article { 
    grid-area: 2 / 5 / 4 / 8; 
    text-overflow: ellipsis;
    font-weight: bold;
    height: 100%;
  }
  
  .title-recipe-article { 
    /* grid-area: 2 / 5 / 4 / 8;  */
    text-overflow: ellipsis;
    font-weight: bold;
    height: 70%;
    display: table;
    width: 100%;
    color: white;

  }
  
  .title-recipe-article span{
    display:table-cell;
    vertical-align:middle;
  }
  .footer-recipe-article { 
    /* grid-area:4 / 5 / 5 / 8;  */
    height: 30%;
  }
  .heart-contaner{
    width: fit-content;
    float: right;
    grid-area:  3/7/4/8;
  }
  
  .star-contaner{
    width: fit-content;
    float: left;
    grid-area:  3/5/4/7;
  }
  
  .image-recipe-article-child{
    max-width: 100%;
    border-radius: 50%;
    display: block; 
  }
  
  .heart{
    float: right;
    width: 35%;
  }
  
  .heart0{
    color: red;
  }
  
  .star{
    float: left;
    color: white;

  }

  .note-star{
    font-size: 3vw;
  }
  .star0{
    color: gold;
  }
  .f7-icons{
    font-size: 4vw;
  }